langchain
openai
umap-learn 
scikit-learn 
langchain_community 
tiktoken 
langchain-openai 
langchainhub  
langchain-anthropic
streamlit
numpy
pandas
langchainhub
langgraph 
tavily-python 
python-dotenv
bs4
matplotlib
tqdm
deeplake[enterprise]
llama-cpp-python
# chromadb
# langchain-mistralai 
# gpt4all 
# google-generativeai
# langchain_google_genai
# CMAKE_ARGS="-DLLAMA_CUBLAS=on" FORCE_CMAKE=1 pip install llama-cpp-python