langchain
openai
umap-learn 
scikit-learn 
langchain_community 
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain-anthropic
streamlit
numpy
pandas
langchainhub
langgraph 
tavily-python 
langchain-mistralai 
gpt4all 
llama-cpp-python
python-dotenv
google-generativeai
langchain_google_genai
bs4
matplotlib
tqdm